.header {
  &__top {
    background-color: #111113;
    padding: 10px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__item {
    display: flex;
    @extend %apercu;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
  }

  &__lang {
    margin-right: 25px;
  }
}

.menu {
  border-bottom: 1px solid #F2F2F2;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu-mobile {
  display: none;
}

.nav {
  padding: 28px 50px;


  &__list {
    display: flex;
  }

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
    @extend %apercu;
    color: #111113;
    text-transform: uppercase;
  }
}

.logo {
  flex-shrink: 0;
  padding: 17px 50px 17px 0;
  border-right: 1px solid #F2F2F2;
}

.user-nav {

  &__list {
    display: flex;
    height: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 100%;
    padding: 28px 30px;
    border-right: 1px solid #F2F2F2;
    flex-shrink: 0;

    &:last-child {
      border: none;
    }

    &:first-child {
      border-left: 1px solid #F2F2F2;
    }
  }
}

@media (max-width: 1390px) {
  .menu {

    &__inner {
      align-items: center;
    }
  }

  .nav {
    padding: 15px;

    &__item {
      margin-right: 30px;
    }
  }

  .user-nav {
    &__item {
      padding: 18px 15px;
    }
  }

  .logo {
    padding: 6px 30px 6px 0;
  }
}

@media (max-width: 1090px) {

  .header {
    &__items {
      display: flex;
      justify-content: center;
    }

    &__item {
      &:last-child {
        display: none;
      }

      &:first-child {
        display: none;
      }
    }
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
    padding: 5px 0;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    border: none;
    padding: 0;
    margin: 0 15px;
  }

  .menu-btn {
    margin-right: 25px;

    span {
      display: block;
      width: 16px;
      height: 2px;
      background-color: #111113;
      border-radius: 5px;
      position: relative;

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #111113;
        left: 0;
      }

      &::before {
        top: 5px;
      }

      &::after {
        top: -5px;
      }
    }
  }

  .favorite-list {
    margin-right: 25px;
  }
}
