.hero {
  margin-top: 25px;
  margin-bottom: 60px;
}

.hero-slider {

  &__item {
    position: relative;
    min-height: 350px;
  }

  &__img {
    img {
      width: 100%;
      min-width: 420px;
      min-height: 350px;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    z-index: 2;
  }

  &__title {
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.01em;
    color: #111113;
    max-width: 400px;
    margin-bottom: 25px;

    span {
      font-weight: 600;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    @extend %apercu;
    margin-bottom: 50px;
  }

  &__links {
    display: flex;
  }

  &__link {
    max-width: 165px;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    @extend %apercu;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    border: 1px solid transparent;
    transition: all .3s linear;

    &--shop {
      margin-right: 10px;
      color: #393939;
      border: 1px solid #393939;
    }

    &--shop.active {
      color: #fff;
      background: #000000;

    }

    &--fitting {
      color: #393939;
      border: 1px solid #393939;
    }

    &--fitting.active {
      color: #fff;
      background: #000000;
    }
  }

  &__buttons {
    position: relative;
    margin-top: 45px;

    .swiper-pagination-bullet {
      width: 40px;
      height: 2px;
      background-color: #EAEAEB;
      opacity: 1;
      border-radius: 65px;
      margin: 0;
    }

    .swiper-pagination-bullet-active {
      background: #393939;
      opacity: 1;
    }
  }
}

@media (max-width: 1090px) {
  .hero-slider {
    &__content {
      left: 40px;
    }

    &__title {
      font-size: 36px;
      line-height: 48px;
      max-width: 380px;
    }

    &__link {
      padding: 13px 0;
      max-width: 140px;
    }

    &__text {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 850px) {
  .hero {
    margin-bottom: 30px;
  }

  .hero-slider {
    &__content {
      left: 20px;
    }

    &__title {
      font-size: 26px;
      line-height: 32px;
      max-width: 340px;
    }

    &__link {
      max-width: 110px;
      font-size: 14px;
      line-height: 20px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

@media (max-width: 650px) {
  .hero-slider {
    &__link {
      max-width: 110px;
      font-size: 14px;
      line-height: 20px;
    }

    &__title {
      max-width: 270px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 16px;
    }

    &__buttons {
      margin-top: 20px;
    }
  }
}

@media (max-width: 450px) {
  .hero-slider {
    &__img {
      img {
        min-width: 280px;
        min-height: 520px;
      }
    }

    &__content {
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 290px;
      width: 100%;
      text-align: center;
    }

    &__links {
      justify-content: center;
    }

    &__title {
      padding: 0 5px;
    }

    &__text {
      padding: 0 5px;
    }
  }
}
