.tabs {
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.08em;
    @extend %apercu;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in-out;

    &--active {
      border-bottom: 1px solid #000000;
      pointer-events: none;
    }
  }

  &__scroll {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }
}

@media (max-width: 1090px) {
  .tabs {
    &__scroll {
      justify-content: flex-start;
      width: 1220px;
    }

    &__content {
      overflow-x: scroll;
    }
  }
}


@media (max-width: 850px) {
  .tabs {
    &__scroll {
      width: 800px;
    }
  }
}
