.trend {
  margin-bottom: 120px;

  &__title {
    max-width: 430px;
    margin-bottom: 25px;
  }
}

@media (max-width: 850px) {
  .trend {
    margin-bottom: 40px;

    &__title {
      max-width: 370px;
    }
  }
}
