<section class="banner">
  <div class="container">
    <div class="banner__items">
      <div class="banner__item">
        <div class="banner__info">
          <h3 class="banner__title">Must Have Intimates
            <span>BRA</span></h3>
          <a class="banner__link" href="#">shop bra</a>
        </div>
        <img src="img/banner-1.jpg" alt="product">
      </div>
      <div class="banner__item">
        <div class="banner__info">
          <h3 class="banner__title">Your Pefect Summer
            <span>BODY</span></h3>
          <a class="banner__link" href="#">shop body</a>
        </div>
        <img src="img/banner-2.jpg" alt="product">
      </div>
      <div class="banner__item">
        <div class="banner__info">
          <h3 class="banner__title">Your Perfect Summer
            <span>nightwear</span></h3>
          <a class="banner__link" href="#">shop nightwear</a>
        </div>
        <img src="img/banner-3.jpg" alt="product">
      </div>
    </div>
  </div>

</section>
