<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__items">
                <div class="header__item">
                    <div class="header__lang">EUR</div>
                    <div class="header__country">Germany</div>
                </div>
                <a class="header__item" href="#">
                    <span>Free shipping & free returns</span>
                </a>
                <a class="header__item" href="#">
                    <span>Support</span>
                </a>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="container">
            <div class="menu__inner">
                <a class="logo" href="#">

                    <img src="img/logo.png" alt="logo">

                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="#">new arrivals</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">plus size</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">lingerie</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">nightwear</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">gifts</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">collections</a>
                        </li>
                    </ul>
                </nav>
                <nav class="user-nav">
                    <ul class="user-nav__list">
                        <li class="user-nav__item">
                            <a class="user-nav__icon search" href="#">
                                <img src="img/search.svg" alt="search">
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <a class="user-nav__icon favorite" href="#">
                                <img src="img/Heart.svg" alt="favorite">
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <a class="user-nav__icon profile" href="#">
                                <img src="img/user.svg" alt="profile">
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <a class="user-nav__icon cart" href="#">
                                <img src="img/cart.svg" alt="cart">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="menu-mobile">
        <div class="container">
            <div class="menu-mobile__inner">
                <div class="menu-mobile__item">
                    <button class="menu-btn btn-reset">
                        <span></span>

                    </button>
                    <a class="user-nav__icon search" href="#">
                        <img src="img/search.svg" alt="search">
                    </a>
                </div>
                <div class="menu-mobile__item">
                    <a class="logo" href="#">
                        <img src="img/logo-mobile.png" alt="logo">
                    </a>
                </div>
                <div class="menu-mobile__item">
                    <a class="user-nav__icon favorite" href="#">
                        <img src="img/Heart.svg" alt="favorite">
                    </a>
                    <a class="user-nav__icon cart" href="#">
                        <img src="img/cart.svg" alt="cart">
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>