<section class="hero">
  <div class="container">
    <div class="swiper hero-slider">
      <div class="swiper-wrapper hero-slider__wrapper">
        <div class="swiper-slide hero-slider__item">
          <div class="hero-slider__content">
            <h1 class="hero-slider__title">
              Our new <span>summer</span> 2021 Collection
            </h1>
            <p class="hero-slider__text">
              Free Luxury Gift Wrap on orders over £400
            </p>
            <div class="hero-slider__links">
              <a class="hero-slider__link hero-slider__link--shop active" href="#">Shop Now</a>
              <a class="hero-slider__link hero-slider__link--fitting" href="#">Fitting Room</a>
            </div>
          </div>
          <picture class="hero-slider__img">
            <source srcset="img/hero-bg-mobile.jpg" media="(max-width: 450px)">
            <img src="img/hero-bg.jpg" alt="MDN">
          </picture>
        </div>
        <div class="swiper-slide hero-slider__item">
          <div class="hero-slider__content">
            <h1 class="hero-slider__title">
              Our new <span>summer</span> 2021 Collection
            </h1>
            <p class="hero-slider__text">
              Free Luxury Gift Wrap on orders over £400
            </p>
            <div class="hero-slider__links">
              <a class="hero-slider__link hero-slider__link--shop active" href="#">Shop Now</a>
              <a class="hero-slider__link hero-slider__link--fitting" href="#">Fitting Room</a>
            </div>
          </div>
          <picture class="hero-slider__img">
            <source srcset="img/hero-bg-mobile.jpg" media="(max-width: 450px)">
            <img src="img/hero-bg.jpg" alt="MDN">
          </picture>
        </div>
        <div class="swiper-slide hero-slider__item">
          <div class="hero-slider__content">
            <h1 class="hero-slider__title">
              Autumn 2021 Collection
            </h1>
            <p class="hero-slider__text">
              Free Luxury Gift Wrap on orders over £400
            </p>
            <div class="hero-slider__links">
              <a class="hero-slider__link hero-slider__link--shop active" href="#">Shop Now</a>
              <a class="hero-slider__link hero-slider__link--fitting" href="#">Fitting Room</a>
            </div>
          </div>
          <picture class="hero-slider__img">
            <source srcset="img/hero-bg-mobile.jpg" media="(max-width: 450px)">
            <img src="img/hero-bg.jpg" alt="MDN">
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper-pagination hero-slider__buttons"></div>
  </div>
</section>
