html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  @extend %history;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;
}

.title {
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  @extend %history;
  margin: 0 auto;
  text-align: center;

  span {
    font-weight: bold;
  }
}
